  <div #imprimir id="imprimir">
    <div class="flex-row m-auto">
    <div class="p-1">
      <div class="bg-white">
        <img src="../../../../../assets/images/center-clima.png" class="b" align="left" height="150" width="150" />
      </div>
      <div class="mr-4 ion-margin-start">
        <h5 class="ion-text-start">Center Clima Climatização</h5>
        <table class="word-break" >
          <tr>
            <td class="tdEspaco">Arthur martins oliveira de almeida</td>
            <td class="">centerclima@gmail.com</td>
          </tr>
          <tr>
            <td rowspan="2" class="ce">CNPJ: 2103030/0001</td>
            <td class="cd">69 992633635</td>
          </tr>
          <tr>
            <td rowspan="2" class="ce">Rua dla</td>
          </tr>
          <tr>
            <td class="cd">Porto Velho, Rondonia-RO</td>
          </tr>
          <tr>
            <td class="cd">CEP 76807874</td>
            <td class="cd">12GB</td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <h6>Levando Satisfação aos nossos clientes atrasvés das melhores soluções de climatização</h6>
      <h6>@center_clima_osmarfilho</h6>
    </div>
  </div>

  <div>
    <button class="btn btn-light p-3 rounded-pill" (click)="downloadPdf()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
      Imprimir comprovante
    </button>
  </div>
  <h2 class="text-light alert alert-dark m-auto">Ordem de Serviço</h2>
  <h2 class="text-light alert alert-dark m-auto">Infromaçoes Basicas</h2>
  <h2 class="text-light alert alert-dark m-auto">Serviços</h2>
  <h2 class="text-light alert alert-dark m-auto">Peças</h2>


  <h2 class="text-light alert alert-dark m-auto">Pagamento</h2>
  <ion-grid>
    <ion-col>
      <ion-item>
        <ion-label color="primary" position="stacked">
          Meios de pagamento
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md" type="text" maxlength="60" />
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="stacked">
          Observação
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md" type="text" maxlength="60" />
      </ion-item>
    </ion-col>
  </ion-grid>
  <ion-item>
    <ion-label color="primary" position="stacked">
      Observação
      <ion-text color="danger">*</ion-text>
    </ion-label>
    <input class="native-input sc-ion-input-md" type="text" maxlength="60" />
  </ion-item>
  <h2 class="text-light alert alert-dark m-auto">Garantia</h2>
  <h2 class="text-light alert alert-dark m-auto">Garantia</h2>
