@font-face {
  font-family: "regular";
  src: url("../../../../../../assets/fonts/NunitoSans-Regular.ttf");
}

.w-px {
  width: 100px;
}

.table-caption {
  display: table-caption;
}

.cor {
  color: #0e51ce;
}

.text-bonito {
  font-family: "regular" !important;
  color: #e96125;
}

.borda-numero {
  border: 1px solid black;
  border-radius: 150px;
}
