<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar #btnVoltar></app-btn-voltar>
    </ion-buttons>
    <ion-title> Modais </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding order-list-page" color="light">
  <div class="row">
    <ion-button (click)="goTo('fotos')" color="secondary">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="goTo('videos')" color="secondary">
      <ion-icon name="videocam-outline"></ion-icon>
    </ion-button>
    <!-- <ion-button class="xbox" (click)="showTelaBotoes()">
      <ion-icon name="logo-xbox"></ion-icon>
    </ion-button> -->
    <ion-button class="map" (click)="goTo('maps')">
      <ion-icon name="map-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="showTelaModal()">
      <ion-icon name="cube-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
