ion-button {
  margin-top: 5px;
}

.map {
  --background: linear-gradient(180deg, #25bd64 48%, #8dd485 108%);
}

.xbox {
  --background: linear-gradient(180deg, rgb(25 226 106) 38%, rgb(104 255 167) 71%, rgb(30 179 92) 108%);
}

.calendario {
  --background: linear-gradient(180deg, rgb(222 198 0) 48%, rgb(255 234 30) 75%, rgb(255 238 78) 73%)
}

.lixo {
  --background: linear-gradient(120deg, rgb(105, 105, 105) 60%, rgba(153, 152, 152, 0.918) 120%);
}
