<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar [fechar_modal]="true"></app-btn-voltar>
    </ion-buttons>
    <ion-title>Imprimir comprovante</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding order-list-page" color="dark">
  <div #imprimir id="imprimir">
    <div class="container-lg">
      <div class="p-1 d-flex mb-3">
        <img src="../../../../../assets/images/center-clima.png"
          class="circulo rounded-circle"
          align="left"
        />
        <div class="mr-4 ion-margin-start center">
          <b>
            <h5 class="ion-text-start fw-bold text-black h5 p-0">
              Center Clima Climatização
            </h5>
          </b>
          <table class="table mb-0">
            <tbody>
              <tr>
                <td class="border-0 py-1 pl-0">OSMAR LEITE ALGUMA COISA</td>
                <td class="border-0 py-1 pl-0">
                  <ion-icon name="mail"></ion-icon>
                  centerclima@gmail.com
                </td>
              </tr>
              <tr>
                <td class="border-0 py-1 pl-0">CNPJ: 12.345.100/0001</td>
                <td class="border-0 py-1 pl-0">
                  <ion-icon name="call"></ion-icon>
                  +55 69 9992533635
                </td>
              </tr>
              <tr>
                <td class="border-0 py-1 pl-0">Rua center clima</td>
              </tr>
              <tr>
                <td class="border-0 py-1 pl-0">Porto velho-RO</td>
              </tr>
              <tr>
                <td class="border-0 py-1 pl-0">76807874</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="mb-3">
        <h6>
          Levando Satisfação aos nossos clientes atrasvés das melhores soluções
          de climatização
        </h6>
        <h6>
          <ion-icon name="logo-instagram"></ion-icon>
          @center_clima_osmarfilho
        </h6>
      </div>

      <div>
        <h3 class="alert alert-dark m-auto text-dark font-700 p-0">
          Ordem de Serviço
        </h3>
        <table class="table p-sm-1">
          <tbody class="">
            <tr>
              <td class="border-0 py-1 pt-3">
                <b>Cliente :</b> {{ comprovante.nome }}
              </td>
              <td class="border-0 py-1 pt-3">{{ comprovante.email }}</td>
            </tr>
            <tr>
              <td class="border-0 py-1"><b>CPF/CNPJ</b> {{ comprovante.cpf_cnpj }}</td>
              <td class="border-0 py-1">{{ comprovante.telefone ?? '' | mask: "(00) 00000-0000"}}</td>
            </tr>
            <tr>
              <td class="border-0 py-1" colspan="2">
                {{ comprovante.logradouro }}, {{ comprovante.bairro }},
                {{ comprovante.numero }}
              </td>
            </tr>
            <tr>
              <td class="border-0 py-1" colspan="2">
                {{ comprovante.municipio }} - {{ comprovante.uf }}
              </td>
            </tr>
            <tr>
              <td class="border-0 py-1" colspan="2">
                CEP: {{ comprovante.cep }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h3 class="alert alert-dark m-auto text-dark font-700 p-0">
          Infromaçoes Basicas
        </h3>
        <p class="py-1 mb-0 h6 pt-1">Observações</p>
        <p>
          {{ comprovante.observacao_info }}
        </p>
      </div>
      <div>
        <h3 class="alert alert-dark m-auto text-dark font-700 alert m-auto">
          Serviços
        </h3>
        <div class="container-fluid mt-5 d-flex w-100">
          <div class="table-responsive w-100 row d-flex justify-content-between align-content-start" >
            <table class="table table-bordered w-100">
              <tbody>
                <tr class="text-end mb-3">
                  <td colspan="3" class="border-0 mb-3 text-start">Descrição</td>
                  <td class="border-0 mb-3 text-end align-self-end">Preço</td>
                </tr>
                <tr class="text-end">
                  <td class="border-0" colspan="3">
                    {{ comprovante.descricao_servico }}
                  </td>
                  <td class="border-0">R$ {{ comprovante.preco_servico }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div>
        <h3 class="alert alert-dark m-auto text-dark font-700 p-0">Peças</h3>
        <div class="container-fluid mt-5 d-flex w-100">
          <div class="table-responsive w-100 row d-flex justify-content-between align-content-start" >
            <div>
              <p>Descrição</p>
              <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </div>
            <table class="table table-bordered w-50" align="right">
              <tbody>
                <tr class="text-end mb-3">
                  <td class="border-0 mb-3">Unidade</td>
                  <td class="border-0 mb-3">Preço Unitario</td>
                  <td class="border-0 mb-3">Qtd.</td>
                  <td class="border-0 mb-3">Preço</td>
                </tr>
                <tr class="text-end">
                  <td class="border-0" colspan="3">Serviços</td>
                  <td class="border-0">${{ comprovante.preco_servico }}</td>
                </tr>
                <tr class="text-end">
                  <td class="border-0" colspan="3">Peças</td>
                  <td class="border-0">$1500</td>
                </tr>
                <tr class="text-end">
                  <b><td class="border-0" colspan="3">Subtotal</td></b>
                  <td class="border-0">$30</td>
                </tr>
                <tr class="text-end">
                  <td class="border-0" colspan="3">
                    Desconto sobre serviços (7%)
                  </td>
                  <td class="border-0">$30</td>
                </tr>
                <tr class="text-end">
                  <td class="border-0" colspan="3">
                    Desconto sobre peças (7%)
                  </td>
                  <td class="border-0">$30</td>
                </tr>
                <tr class="text-end">
                  <b><td class="border-0 alert alert-dark" colspan="3">Total</td></b>
                  <td class="border-0">$30</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div>
        <h3 class="alert alert-dark m-auto text-dark font-700 p-0">
          Pagamento
        </h3>
        <div class="container-fluid mt-5 d-flex justify-content-center w-100">
          <div class="table-responsive w-100">
            <table class="table table-bordered w-50 mb-0">
              <thead>
                <tr>
                  <th colspan="1" class="border-0 pb-0">Meios de pagamento</th>
                  <th class="text-end border-0 pb-0">Pix</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-end">
                  <td colspan="1" class="text-start border-0 py-1">
                    Boleto, transfência bancária, cartão de crédito, cartão de
                    débito ou pix
                  </td>
                  <td class="border-0 py-1">21.123.213/0001-21</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-bordered w-50">
              <thead>
                <tr>
                  <th class="border-0 pb-0">Dados bancário</th>
                  <th class="text-end border-0 pb-0">Condições de pagamento</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-end">
                  <td class="text-start border-0 py-0">Banco</td>
                  <td class="border-0 py-0">A vista</td>
                </tr>
                <tr class="text-end">
                  <td class="text-start border-0 py-0">Agência</td>
                </tr>
                <tr class="text-end">
                  <td class="text-start border-0 py-0">Conta</td>
                </tr>
                <tr class="text-end">
                  <td class="text-start border-0 py-0">Tipo de conta</td>
                </tr>
                <tr class="text-end">
                  <td class="text-start border-0 py-0">Titular da conta</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="mb-5">
        <h3 class="alert alert-dark m-auto text-dark font-700 p-0">Garantia</h3>
        <b><h6 class="my-2">Periodo de garandia</h6></b>
        <p>{{ comprovante.periodo_garantia }}</p>
      </div>

      <b> <hr size="100" width="100%" align="center" color="black" /></b>
      <div>
        <b><h5 class="m-auto text-dark font-700">Codiçoes de garantia</h5></b>
        <p>
          {{ comprovante.condicoes_garantia }}
        </p>
      </div>
      <br /><br /><br />
      <div>
        <i>
          <p class="text-center">
            Agredeçemos pela confiança me nossos serviços!
          </p>
        </i>
        <h6 class="text-center">Porto velho, {{ date_now | date :'short' }}</h6>
      </div>
      <div class="mt-5 d-flex ion-justify-content-evenly row">
        <div class="flex-column col-5">
          <hr size="100" width="100%" color="black" class="mb-0" />
          <b>
            <p class="mb-0 pb-0 text-center">Center Clima Climatização</p>
          </b>
          <p class="mb-0 pb-0 text-center">Center Clima Climatização</p>
          <p class="mb-0 pb-0 text-center">Center Clima Climatização</p>
        </div>
        <div class="flex-column col-5">
          <hr size="100" width="100%" color="black" class="mb-0" />
          <p class="mb-0 pb-0 text-center">Onde vamos hoje ?</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="border-0">
  <button
    [disabled]="gerando"
    (click)="downloadPdf()"
    class="btn btn-primary btn-lg btn-block fix-btn text-left"
    type="button"
  >
    <span class="float-left">
      <ion-icon name="document-text-outline"></ion-icon>
      Exportar para PDF
      <ion-spinner *ngIf="gerando" name="bubbles"></ion-spinner>
    </span>
  </button>
</ion-footer>
