<div #imprimir id="imprimir">
  <div class="flex-row m-auto">
    <div class="p-1">
      <div class="bg-white">
        <img src="../../../../../assets/images/center-clima.png" class="b" align="left" height="150" width="150" />
      </div>
      <div class="mr-4 ion-margin-start">
        <h5 class="ion-text-start">Center Clima Climatização</h5>
        <table>
          <tr>
            <td class="tdEspaco">Arthur martins oliveira de almeida</td>
            <td class="">centerclima@gmail.com</td>
          </tr>
          <tr>
            <td rowspan="2" class="ce">CNPJ: 2103030/0001</td>
            <td class="cd">69 992633635</td>
          </tr>
          <tr>
            <td rowspan="2" class="ce">Rua dla</td>
          </tr>
          <tr>
            <td class="cd">Porto Velho, Rondonia-RO</td>
          </tr>
          <tr>
            <td class="cd">CEP 76807874</td>
            <td class="cd">12GB</td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <h6>Levando Satisfação aos nossos clientes atrasvés das melhores soluções de climatização</h6>
      <h6>@center_clima_osmarfilho</h6>
    </div>
  </div>
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title>
        Ionic Table using Ionic grid component
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-margin">
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col>S.No</ion-col>
        <ion-col>Name</ion-col>
        <ion-col>Gender</ion-col>
        <ion-col>Country</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>i + 1</ion-col>
        <ion-col>student.name</ion-col>
        <ion-col>student.gender</ion-col>
        <ion-col>student.country</ion-col>
      </ion-row>
    </ion-grid>

    <ion-item lines="none">
      <ion-button color="primary" size="small" slot="end" routerLink="/material">
        Material Design Table
      </ion-button>
    </ion-item>
  </ion-content>
</div>
