.center-img {
  width: 100px;
  border-radius: 50%;
  position: relative;
}

.margin-left {
  margin-left: 175px;
}

.tdEspaco {
  display: table;
  float: left;
  margin-right: 5px;
}

table {
  border-spacing: 15px;
}

.b {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

ion-grid {
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;

  ion-row:first-child {
    background-color:  #2dd36f;
    font-weight: bold;
  }
  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid black;
  }

  ion-row:last-child {
    border-bottom: 1px solid black;
  }
}
