<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar></app-btn-voltar>
    </ion-buttons>
    <ion-title>Comprovante </ion-title>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding order-list-page" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Arraste para atualizar"
      refreshingSpinner="circles" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <p class="alert alert-info text-left">
    Para emitir um novo comprovante você pode tocar no círculo azul no canto inferior da tela, para visualizar o formulario de cadastro.
  </p>
  <br />
  <br />
  <br />
  <br />
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="AbrirTelaComprovante()">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
