<!-- <div class="card mb-2 {{ GetClasse() }}">
  <div class="p-1">
  <div *ngIf="objComprovante.comprovante.nome" class="d-flex justify-content-between mb-2">
      <div class="text-secondary">
        <span style="font-size: 12px">Nome </span> <br />
        <b>{{ objComprovante.comprovante.nome }} -
          {{ objComprovante.comprovante.nome }}</b>
      </div>
    </div>

    <div class="d-flex justify-content-between mb-2">
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">
          <span style="font-size: 12px">Data do balanço</span> <br />
          <b>{{ objComprovante.data | date : "dd/MM/yyyy HH:mm" }}</b>
        </div>
      </div>
      <div class="text-secondary">
        <span style="font-size: 12px">Finalizado</span> <br />
        <b *ngIf="objComprovante.finalizado === true">SIM</b> <b *ngIf="objComprovante.finalizado === false">NÃO</b>
      </div>
    </div>


    <div *ngIf="objComprovante.id_nuvem" class="d-flex justify-content-between mb-2">
      <div class="text-secondary">
        <span style="font-size: 12px">Sincronizado em</span> <br />
        <b>{{ objComprovante.sincronizado_em }}</b>
      </div>
    </div>


     <div  class="d-flex justify-content-between mb-2">
      <div class="text-secondary">
        <span style="font-size: 12px">Cep</span> <br />
        <b *ngIf="objComprovante.comprovante.cep" color="primary">{{ objComprovante.comprovante.cep }}</b>
      </div>


      <div class="text-secondary">
        <span style="font-size: 12px">email</span> <br />
        <b color="primary">{{ objComprovante.comprovante.email | number : "1.0-3" }}</b>
      </div>
    </div>



    <ng-container *ngIf="objComprovante.status_manipulacao === 1">
      <p class="text-center">Sincronizando com o servidor online...</p>
      <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
    </ng-container>
    <ng-container *ngIf="objComprovante.status_manipulacao === 2">
      <p class="text-center">Excluindo...</p>
      <ion-progress-bar color="danger" type="indeterminate"></ion-progress-bar>
    </ng-container>
  </div>
 -->
