.cancelado {
  border-left-color: red !important;
  border-left-style: outset !important;
}

.comprovante {
  border-left-color: #03a9f5 !important;
  border-left-style: outset !important;
}

.finalizado {
  border-left-color: #4d9b1e !important;
  border-left-style: outset !important;
}
