<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar #btnVoltar [solicitar_confirmacao]="true"></app-btn-voltar>
    </ion-buttons>
    <ion-title> Cadastrar Comprovante
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding order-list-page ion-padding order-list-page shop-cart-page" color="light">
  <h2 class="text-dark text-center alert m-auto">Ordem de serviço</h2>

  <div class="card">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima">
          <b> Ordem de serviço:</b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3 rounded-4" [(ngModel)]="comprovante.ordem_de_servico"
          type="text" required maxlength="60" />
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima">
          <b> Nome </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3 rounded-4" [(ngModel)]="comprovante.nome" name="nome"
          [ngModelOptions]="{standalone: true}" type="text" required maxlength="60" />
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima">
          <b> Email </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3" type="email" [(ngModel)]="comprovante.email" name="email"
          [ngModelOptions]="{standalone: true}" maxlength="40" />
      </ion-item>
      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima">
          <b> CPF/CNPJ </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3" type="text" id="cpf_cnpj" mask="CPF_CNPJ"
          [(ngModel)]="comprovante.cpf_cnpj" maxlength="25" />
      </ion-item>

      <ng-container *ngIf="comprovante.cpf_cnpj?.length > 11">
        <ion-item class="py-1">
          <ion-label position="stacked" class="mb-1 text-clima">
            Inscrição Estadual
          </ion-label>
          <input class="native-input sc-ion-input-md p-1 mb-3" type="text" name="inscricao_estadual"
            id="inscricao_estadual" maxlength="20" />
        </ion-item>
        <ion-list>
          <ion-radio-group name="indicador_ie" id="indicador_ie">
            <ion-item>
              <ion-radio mode="md" slot="start" [value]="1"></ion-radio>
              <ion-label class="mb-1 text-clima">Contribuinte ICMS</ion-label>
            </ion-item>
            <ion-item>
              <ion-radio mode="md" slot="start" [value]="2"></ion-radio>
              <ion-label class="m-1">ISENTO de I.E.</ion-label>
            </ion-item>
            <ion-item>
              <ion-radio mode="md" slot="start" [value]="9"></ion-radio>
              <ion-label class="mb-1 text-clima">Não Contribuinte ICMS</ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ng-container>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima">
          <b> Telefone </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3" type="text" prefix="+55 "
          mask="(00) 0000-0000||(00) 0 0000-0000" id="telefone" [(ngModel)]="comprovante.telefone"
          [ngModelOptions]="{standalone: false}" maxlength="20" />
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima">
          <b> CEP </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3" type="text" [(ngModel)]="comprovante.cep"
          (ngModelChange)="onConsutarCEP(comprovante)" mask="00000-000" name="cep" id="cep" maxlength="10" />
        <ion-progress-bar *ngIf="consultandoEndereco" type="indeterminate"></ion-progress-bar>
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima">
          <b> Logradouro </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3" [(ngModel)]="comprovante.logradouro" type="text"
          name="logradouro" id="logradouro" maxlength="40" />
        <ion-progress-bar *ngIf="consultandoEndereco" type="indeterminate"></ion-progress-bar>
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima">
          <b> Número </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3" type="text" name="numero" id="numero" maxlength="10"
          [(ngModel)]="comprovante.numero" />
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima">
          <b> Complemento </b>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3" [(ngModel)]="comprovante.complemento" type="text"
          name="complemento" id="complemento" maxlength="100" />
        <ion-progress-bar *ngIf="consultandoEndereco" type="indeterminate"></ion-progress-bar>
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima">
          <b> UF </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3" [(ngModel)]="comprovante.uf" type="text" id="uf" name="uf">
        <ion-progress-bar *ngIf="consultandoEndereco" type="indeterminate"></ion-progress-bar>
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima">
          <b> Município </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3" [(ngModel)]="comprovante.municipio" type="text"
          id="municipio">
        <ion-progress-bar *ngIf="consultandoEndereco" type="indeterminate">
        </ion-progress-bar>
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima">
          <b> Bairro </b>
          <ion-text color="danger">*</ion-text>
          <ion-text class="pulse" color="danger" *ngIf="submitted && !comprovante.bairro">
            <b>Campo obrigatório</b>
          </ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3" [(ngModel)]="comprovante.bairro" type="text" name="bairro"
          id="bairro" maxlength="60" />
      </ion-item>
    </ion-list>
  </div>

  <div>
    <h2 class="text-dark text-center alert m-auto">Informações basicas</h2>
    <ion-item>
      <ion-label position="stacked" class="mb-1 text-clima">
        <b> Observações </b>
      </ion-label>
      <input placeholder="Observações" class="native-input sc-ion-input-md p-1 mb-3" type="text" maxlength="100"
        [(ngModel)]="comprovante.observacao_info" />
    </ion-item>
  </div>

  <div>
    <h2 class="text-dark text-center alert m-auto">Serviço</h2>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked" class="mb-1 text-clima">
              <b> Descrição </b>
            </ion-label>
            <input class="native-input sc-ion-input-md p-1 mb-3" type="text" maxlength="100"
              [(ngModel)]="comprovante.descricao_servico" />
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="stacked" class="mb-1 text-clima">
              Preço
            </ion-label>
            <input class="native-input sc-ion-input-md p-1 mb-3" mask="separator.2" [thousandSeparator]="'.'"
              [decimalMarker]="','" prefix="R$ " type="text" [dropSpecialCharacters]="true" maxlength="15"
              [(ngModel)]="comprovante.preco_servico" />
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="container">
    <h2 class="text-dark text-center alert m-auto">Peças</h2>
    <ng-container *ngFor="let item of pecas; let i = index">
      <div class="card">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked" class="mb-1 text-clima">
                  Descrição
                  <ion-text color="danger">*</ion-text>
                </ion-label>
                <input class="native-input sc-ion-input-md p-1 mb-3" type="text" maxlength="60" />
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row class="justify-content-center">
            <ion-col size="5">
              <ion-label position="stacked" class="mb-1 text-clima text-center">
                Unidade
              </ion-label>
              <input class="native-input sc-ion-input-md p-1 mb-3 w-px" type="text" maxlength="60" />
            </ion-col>
            <ion-col size="5">
              <ion-label position="stacked" class="mb-1 text-clima text-center">
                Preço Unitario
              </ion-label>
              <input class="native-input sc-ion-input-md p-1 mb-3 w-px" type="text" mask="separator.2"
                [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " type="text" [dropSpecialCharacters]="true"
                maxlength="15" />
            </ion-col>
          </ion-row>
          <ion-row class="justify-content-center">
            <ion-col size="5">
              <ion-label position="stacked" class="mb-1 text-clima text-center">
                Qtd.
              </ion-label>
              <input class="native-input sc-ion-input-md p-1 mb-3 w-px" type="text" maxlength="60" />
            </ion-col>
            <ion-col size="5">
              <ion-label position="stacked" class="mb-1 text-clima text-center">
                Preço
              </ion-label>
              <input class="native-input sc-ion-input-md p-1 mb-3 w-px" type="text" mask="separator.2"
                [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " type="text" [dropSpecialCharacters]="true"
                maxlength="15" />
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="d-grid gap-2 align-self-center mt-3 text-center">
          <button (click)="removerNovaPeca(i)" type="button" class="btn btn-outline-danger btn-sm text-center mb-4">
            Remover prescrição
          </button>
        </div>
      </div>
    </ng-container>
    <div class="d-grid gap-2 align-self-center mt-3 text-center">
      <button (click)="addNovaPeca()" type="button" class="btn btn-outline-clima center">
        Adicionar uma nova peça
      </button>
    </div>
  </div>

  <div>
    <h2 class="text-dark text-center alert m-auto">Garantia</h2>
    <ion-item>
      <ion-label position="stacked" class="mb-1 text-clima">
        Periodo de garantia
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <input class="native-input sc-ion-input-md p-1 mb-3" type="text" maxlength="60"
        [(ngModel)]="comprovante.periodo_garantia" />
    </ion-item>

    <h5 class="text-dark text-center alert m-auto">Condições de garantia</h5>
    <ion-item>
      <ion-label position="stacked" class="mb-1 text-clima">
        Condições de garantia
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <input class="native-input sc-ion-input-md p-1 mb-3" type="text" maxlength="60"
        [(ngModel)]="comprovante.condicoes_garantia" />
    </ion-item>
  </div>
</ion-content>
<ion-footer class="border-0">
  <button (click)="mostrarOpcoesComprovante(comprovante)" class="btn btn-primary btn-lg btn-block fix-btn text-left"
    type="button">
    <span class="float-left">
      <ion-icon name="albums-outline"></ion-icon>
      Salvar <span>Comprovante</span>
    </span>
  </button>
</ion-footer>
