<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar #btnVoltar [solicitar_confirmacao]="true"></app-btn-voltar>
    </ion-buttons>
    <ion-title> Cadastrar Comprovante
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding order-list-page ion-padding order-list-page shop-cart-page" color="light">
  <h2 class="text-bonito text-center alert m-auto">Ordem de serviço</h2>

  <div class="card">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item class="py-1 align-items-center">
        <ion-label position="stacked" class="mb-2 text-clima align-self-center">
          <b> Ordem de serviço:</b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <textarea class="native-input sc-ion-input-md p-1 mb-3 rounded-4 align-self-center" rows="3"
          [(ngModel)]="comprovante.ordem_de_servico" maxlength="120" placeholder="Descrições sobre a ordem de serviço" required></textarea>
      </ion-item>

      <ion-item class="py-1 d-flex align-items-center justify-content-center">
        <div class="small text-gray-500 d-inline-flex m-auto align-items-center justify-content-center flex-column">
          <p class="text-clima"><b> Numero da ordem de serviço </b></p>
          <div class="input-group shop-cart-value align-items-center justify-content-center mb-3">
            <span class="input-group-btn align-self-center p-1">
              <button (click)="ajustarQuantidade(comprovante, -1)" class="btn btn-sm" type="button">-</button>
            </span>
            <input (ngModelChange)="alterouQuantidadeManualmente(comprovante, $event)" type="number"
              [(ngModel)]="comprovante.numero_ordem_servico"
              class="form-control borda-numero border-form-control form-control-sm input-number align-self-center" />
            <span class="input-group-btn align-self-center">
              <button (click)="ajustarQuantidade(comprovante, 1)" class="btn btn-sm" type="button">+</button>
            </span>
          </div>
        </div>
      </ion-item>

      <ion-item class="py-1 align-items-center">
        <ion-label position="stacked" class="mb-1 text-clima align-self-center">
          <b> Nome </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3 rounded-4 align-self-center text-center" [(ngModel)]="comprovante.nome"
          name="nome" [ngModelOptions]="{standalone: true}" type="text" placeholder="Nome completo"  maxlength="60" required />
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima align-self-center">
          <b> Email </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3 align-self-center text-center" type="email" placeholder="Email"
          [(ngModel)]="comprovante.email" name="email" [ngModelOptions]="{standalone: true}" maxlength="40" />
      </ion-item>
      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima align-self-center">
          <b> CPF/CNPJ </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3 align-self-center text-center" placeholder="Ex.: 000.000.000-00" type="text" id="cpf_cnpj" mask="CPF_CNPJ"
          [(ngModel)]="comprovante.cpf_cnpj" maxlength="25" />
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima align-self-center">
          <b> Telefone </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 px-1 mb-3 align-self-center text-center" placeholder="Ex.: (00) 0 0000-0000" type="text"
          mask="(00) 0000-0000||(00) 0 0000-0000" id="telefone" [(ngModel)]="comprovante.telefone"
          [ngModelOptions]="{standalone: false}" maxlength="22" />
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima align-self-center">
          <b> CEP </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3 align-self-center text-center" placeholder="Cep" type="text" [(ngModel)]="comprovante.cep"
          (ngModelChange)="onConsutarCEP(comprovante)" mask="00000-000" name="cep" id="cep" maxlength="10" />
        <ion-progress-bar *ngIf="consultandoEndereco" type="indeterminate"></ion-progress-bar>
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima align-self-center">
          <b> Logradouro </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3 align-self-center text-center" placeholder="Logradouro" [(ngModel)]="comprovante.logradouro"
          type="text" name="logradouro" id="logradouro" maxlength="40" />
        <ion-progress-bar *ngIf="consultandoEndereco" type="indeterminate"></ion-progress-bar>
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima align-self-center">
          <b> Número </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3 align-self-center text-center" placeholder="Numero" type="text" name="numero" id="numero"
          maxlength="8" [(ngModel)]="comprovante.numero" />
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima align-self-center">
          <b> Complemento </b>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3 align-self-center text-center" placeholder="Complemento" [(ngModel)]="comprovante.complemento"
          type="text" name="complemento" id="complemento" maxlength="80" />
        <ion-progress-bar *ngIf="consultandoEndereco" type="indeterminate"></ion-progress-bar>
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima align-self-center">
          <b> UF </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3 align-self-center text-center" placeholder="Uf" [(ngModel)]="comprovante.uf" type="text"
          id="uf" name="uf">
        <ion-progress-bar *ngIf="consultandoEndereco" type="indeterminate"></ion-progress-bar>
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima align-self-center">
          <b> Município </b>
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3 align-self-center text-center" placeholder="Município" [(ngModel)]="comprovante.municipio"
          type="text" id="municipio">
        <ion-progress-bar *ngIf="consultandoEndereco" type="indeterminate">
        </ion-progress-bar>
      </ion-item>

      <ion-item class="py-1">
        <ion-label position="stacked" class="mb-1 text-clima align-self-center">
          <b> Bairro </b>
          <ion-text color="danger">*</ion-text>
          <ion-text class="pulse" color="danger" *ngIf="submitted && !comprovante.bairro">
            <b>Campo obrigatório</b>
          </ion-text>
        </ion-label>
        <input class="native-input sc-ion-input-md p-1 mb-3 align-self-center text-center" placeholder="Bairro" [(ngModel)]="comprovante.bairro"
          type="text" name="bairro" id="bairro" maxlength="60" />
      </ion-item>
    </ion-list>
  </div>

  <div>
    <h2 class="text-bonito text-center alert m-auto">Informações basicas</h2>
    <ion-item>
      <ion-label position="stacked" class="mb-1 text-clima align-self-center">
        <b> Observações </b>
      </ion-label>
      <textarea placeholder="Observações" class="native-input sc-ion-input-md p-1 mb-3 align-self-center text-center" rows="6" maxlength="80"
       [(ngModel)]="comprovante.observacao_info">
    </textarea>
    </ion-item>
  </div>

  <div>
    <h2 class="text-bonito text-center alert m-auto">Serviço</h2>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked" class="mb-1 text-clima align-self-center">
              <b> Descrição </b>
            </ion-label>
            <input class="native-input sc-ion-input-md p-1 mb-3 align-self-center text-center" type="text" maxlength="80"
              [(ngModel)]="comprovante.descricao_servico" />
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="stacked" class="mb-1 text-clima align-self-center">
              Preço
            </ion-label>
            <input class="native-input sc-ion-input-md p-1 px-1 mb-3 align-self-center" mask="separator.2"
              [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " type="text" [dropSpecialCharacters]="true"
              maxlength="15" [(ngModel)]="comprovante.preco_servico" />
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="container d-flex flex-column align-items-center">
    <h2 class="text-bonito text-center alert m-auto">Peças</h2>
    <ng-container *ngFor="let item of comprovante.pecas; let i = index">
      <div class="card mb-2 w-auto">
        <ion-grid>
          <ion-row class="table-caption">
            <ion-col>
              <ion-label position="stacked" class="mb-1 text-center align-self-center text-clima">
                Descrição
              </ion-label>
              <ion-text color="danger">*</ion-text>
              <input class="native-input sc-ion-input-md p-1 mb-3 align-self-center" [(ngModel)]="item.descricao"
                type="text" maxlength="60" />
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row class="justify-content-center">
            <ion-col size="5">
              <ion-label position="stacked" class="mb-1 text-clima text-center align-self-center">
                Unidade
              </ion-label>
              <input class="native-input sc-ion-input-md p-1 mb-3 w-px align-self-center" type="number" maxlength="60"
                [(ngModel)]="item.unidade" />
            </ion-col>
            <ion-col size="5">
              <ion-label position="stacked" class="mb-1 text-clima text-center align-self-center">
                Preço Unitario
              </ion-label>
              <input class="native-input sc-ion-input-md p-1 mb-3 w-px align-self-center" type="text" mask="separator.2"
                [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " [dropSpecialCharacters]="true"
                maxlength="15" [(ngModel)]="item.preco_unitario" />
            </ion-col>
          </ion-row>

          <ion-row class="justify-content-center">
            <ion-col class="col-sm-5" size="5">
              <ion-label position="stacked" class="mb-1 text-clima text-center align-self-center">
                Qtd.
              </ion-label>
              <input class="native-input sc-ion-input-md p-1 mb-3 w-px align-self-center" type="number" maxlength="60"
                [(ngModel)]="item.quantidade" />
            </ion-col>
            <ion-col class="col-sm-5" size="5">
              <ion-label position="stacked" class="mb-1 text-clima text-center align-self-center">
                Preço
              </ion-label>
              <input class="native-input sc-ion-input-md p-1 mb-3 w-px align-self-center" type="text" mask="separator.2"
                [thousandSeparator]="'.'" [decimalMarker]="','" prefix="R$ " [dropSpecialCharacters]="true"
                maxlength="15" [(ngModel)]="item.preco" />
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="d-grid gap-2 align-self-center mt-3 text-center align-self-center">
          <button (click)="removerNovaPeca(i)" type="button" class="btn btn-outline-danger btn-sm text-center mb-4">
            Remover Peça
          </button>
        </div>
      </div>
    </ng-container>
    <div class="d-grid gap-2 align-self-center mt-3 text-center">
      <button (click)="addNovaPeca()" type="button" class="btn btn-outline-clima center">
        Adicionar uma nova peça
      </button>
    </div>
  </div>

  <div>
    <h2 class="text-bonito text-center alert m-auto mt-2">Garantia</h2>
    <ion-item>
      <ion-label position="stacked" class="mb-1 text-clima align-self-center">
        Periodo de garantia
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <input class="native-input sc-ion-input-md p-1 mb-3 align-self-center text-center" placeholder="Prazo de garantia" type="text" maxlength="60"
        [(ngModel)]="comprovante.periodo_garantia" />
    </ion-item>

    <h5 class="text-bonito text-center alert m-auto">Condições de garantia</h5>
    <ion-item>
      <ion-label position="stacked" class="mb-1 text-clima align-self-center">
        Condições de garantia
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <input class="native-input sc-ion-input-md p-1 mb-3 align-self-center text-center" placeholder="Condições de garantia" type="text" maxlength="60"
        [(ngModel)]="comprovante.condicoes_garantia" />
    </ion-item>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
</ion-content>
<ion-footer class="border-0">
  <button (click)="mostrarOpcoesComprovante(comprovante)" class="btn btn-primary btn-lg btn-block fix-btn text-left"
    type="button">
    <span class="float-left">
      <ion-icon name="albums-outline"></ion-icon>
      Salvar <span>Comprovante</span>
    </span>
  </button>
</ion-footer>
