<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar [fechar_modal]="true"></app-btn-voltar>
    </ion-buttons>
    <ion-title>Orçamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="w-100" align="right">
          <th class="col-auto border-light" style="border: 1px solid black;">Header 1</th>
          <th class="col-auto border-light" style="border: 1px solid black;">Header 2</th>
        </tr>
      </thead>
      <tbody>
        <tr class="w-100 text-end">
          <td class="col-auto border-light" style="border: 1px solid black;">Descrição prod</td>
          <td class="col-auto border-light" style="border: 1px solid black;">Descrição serv</td>
          <td class="col-auto border-light" style="border: 1px solid black;">Qtde.</td>
          <td class="col-auto border-light" style="border: 1px solid black;">Valor unit.</td>
          <td class="col-auto border-light" style="border: 1px solid black;">Valor total.</td>
        </tr>
        <tr class="w-100 text-end">
          <td class="col-auto border-light" style="border: 1px solid black;">Central 9 K</td>
          <td class="col-auto border-light" style="border: 1px solid black;">Manutenção preventiva</td>
          <td class="col-auto border-light" style="border: 1px solid black;">23</td>
          <td class="col-auto border-light" style="border: 1px solid black;">R$ 110,00</td>
          <td class="col-auto border-light" style="border: 1px solid black;">R$ 2.530,00</td>
        </tr>
      </tbody>
      <tfoot class="text-end">
        <tr class="text-end float-end" align="right">
          <td class="col-auto border-light" style="border: 1px solid black;">Vvalor</td>
          <td class="col-auto border-light" style="border: 1px solid black;">Total</td>
        </tr>
      </tfoot>
    </table>
  </div>
</ion-content>
<ion-footer class="border-0">
  <button [disabled]="gerando" class="btn btn-primary btn-lg btn-block fix-btn text-left" type="button">
    <span class="float-left">
      <ion-icon name="document-text-outline"></ion-icon>
      Exportar para PDF
      <ion-spinner *ngIf="gerando" name="bubbles"></ion-spinner>
    </span>
  </button>
</ion-footer>
